{% extends "Base.html"%}
{% block content %}

<div class="jumbotron">
  <h1>Welcome to Update {{upt_type}} Form.</h1>
  <p>Please, fill out this form to Update {{upt_type}} to the database.</p>

  {% if upt_type == 'Student' %}
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.students.label }}<br>
      {% for student in form.students %}
        <tr>
        <td>{{ student }}  </td>
        <td>{{ student.label }}</td>
        </tr>
      {% endfor %}
      <br><br>
      {{ form.fname.label }} {{ form.fname() }}<br>
      {{ form.lname.label }} {{ form.lname() }}<br><br>
      {{ form.major.label }} {{ form.major() }}<br><br>
      {{ form.submit() }}
      <br>
  </form>

  {% elif upt_type == 'Course' %}
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.courses.label }}<br>
      {% for course in form.courses %}
        <tr>
        <td>{{ course }}  </td>
        <td>{{ course.label }}</td>
        </tr>
      {% endfor %}
      <br><br>
      {{ form.name.label }} {{ form.name() }}<br>
      {{ form.dept.label }} {{ form.dept() }}<br><br>
      {{ form.submit() }}
      <br>
  </form>

  {% elif upt_type == 'Email' %}
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.students.label }}<br>
      {% for student in form.students %}
        <tr>
        <td>{{ student  }}  </td>
        <td>{{ student.label }}</td>
        </tr>
      {% endfor %}
      <br><br>
          {{ option_form.mails.label }}<br>
            {% for mail in option_form.mails %}
            <tr>
            <td>{{ mail }}  </td>
            <td>{{ mail.label }}</td>
            </tr>
          {% endfor %}
          <br><br>
            {{ option_form.mail.label }} {{ option_form.mail() }}<br><br>
            {{ option_form.submit() }}
          <br>
  </form>

  {% elif upt_type == 'Address' %}
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.students.label }}<br>
      {% for student in form.students %}
        <tr>
        <td>{{ student }}  </td>
        <td>{{ student.label }}</td>
        </tr>
      {% endfor %}
      <br><br>
      {{ form.building.label }} {{ form.building() }}<br>
      {{ form.street.label }} {{ form.street() }}<br>
      {{ form.city.label }} {{ form.city() }}<br>
      {{ form.zip_code.label }} {{ form.zip_code() }}<br><br>
      {{ form.submit() }}
      <br>
  </form>

  {% else %}
  <form method="POST">
      {{ form.hidden_tag() }}
      {{ form.students.label }}<br>
      {% for student in form.students %}
        <tr>
        <td>{{ student }}  </td>
        <td>{{ student.label }}</td>
        </tr>
      {% endfor %}
      <br><br>
      {{ form.courses.label }}<br>
      {% for course in form.courses %}
        <tr>
        <td>{{ course }}  </td>
        <td>{{ course.label }}</td>
        </tr>
      {% endfor %}
      <br><br>

      {{ form.status.label }} {{ form.status }}<br><br>
      {{ form.submit() }}
      <br>
  </form>
  {% endif %}
</div>

{% endblock %}
